.container .list img {
  width: 100px;
}
.container .list .item {
  width: 500px;
}
.item-left {
  text-align: left;
}
.item-right {
  float: left;
  margin-left: 30px;
}
.header .info {
  text-align: left;
}
.header span {
  color: red;
  font-weight: bolder;
}
.song_search {
  height: 50px;
  line-height: 50px;
}
.song_search img {
  width: 30px;
  margin-top: 3px;
}
.song_search input[type="text"] {
  width: 40vw;
  margin-left: 5px;
}
.song_search input[type="submit"] {
  margin-left: 5px;
  margin-top: 3px;
}
thead {
  font-weight: bolder;
}
.music_list tr td:first-child {
  width: 80px;
}
.music_list tr td:first-child img {
  width: 100%;
}
.music_list tr td:nth-child(2) {
  width: 50px;
}
.music_list tr td:nth-child(3) {
  width: 180px;
}
.music_list tr td:nth-child(4) {
  width: 180px;
}
.music_list tr td:nth-child(5) {
  width: 180px;
}
.music_list tr td:nth-child(6) {
  width: 80px;
}
.music_list tr td:nth-child(7) {
  width: 100px;
}

.leftfix {
  float: left;
}
.rightfix {
  float: right;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
