{% extends 'layout.html.j2' %}
{% block content %}
<div class="song_search clearfix">
  <form action="/search" method="post">
    <img class="leftfix" src="/static/images/search.png" alt="" />
    <input class="leftfix input__field" type="text" name="search_key" />
    <input class="leftfix btn" type="submit" value="Search" />
  </form>
</div>
<h1>Music List</h1>
<div class="header">
  <div class="banner"></div>
</div>
<div class="container">
  <div class="banner"></div>
  <div class="list">
    <!-- {% for item in music %}
    <div class="item clearfix">
      <div class="item-left leftfix">
        <img src="{{ item.song_image_file }}" alt="icon" />
      </div>
      <div class="item-right">
        <ul>
          <li>ID: {{ item.song_id }}</li>
          <li><a href="/music/{{ item.song_id }}"></a>{{ item.song_name }}</li>
          <li>Artist</li>
        </ul>
      </div>
    </div>
    {% endfor %} -->

    <!-- <div class="item">
      <span>ID: {{ song_id }}</span>
      <img src="{{ song_image_file }}" alt="icon" />
      <span><a href="/music/{{ song_id }}"></a>{{ song_name }}</span>
      <span>Artist</span>
    </div> -->
    <table class="music_list">
      <thead>
        <tr>
          <td>Image</td>
          <td>ID</td>
          <td>Title</td>
          <td>Artist</td>
          <td>Album</td>
          <td>Duration</td>
          <td>Genre</td>
          <td>Action</td>
        </tr>
      </thead>
      {% if state %}
      <form action="/music/new">
        <tr class="music_new">
          <td>
            <input type="file" name="image" style="width: 80px" />
          </td>
          <td>&nbsp;</td>
          <td>
            <input type="text" name="title" placeholder="Title" />
          </td>
          <td>
            <input type="text" name="artist" placeholder="Artist" />
          </td>
          <td>
            <input type="text" name="album" placeholder="Album" />
          </td>
          <td>
            <input
              type="text"
              name="duration"
              placeholder="Duration (secondes)"
            />
          </td>
          <td>
            <input type="text" name="genre" placeholder="Genre" />
          </td>
          <td>
            <input type="submit" class="btn" value="New" style="margin: 0" />
          </td>
        </tr>
      </form>
      <form id="musicActionForm" action="/music-action" method="post">
      <input type="hidden" id="formTitle" name="title" value=""/>
      <input type="hidden" id="formAction" name="action" value=""/>
      </form>
      {% endif %}
      {% for item in music %}
      <tr>
        <td>
          <img
            src="/static/images/music/{{ item.song_image_filename }}"
            alt="icon"
          />
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.artist }}</td>
        <td>{{ item.album }}</td>
        <td>{{ item.duration }}</td>
        <td>{{ item.genre }}</td>
        <td>
          {% if state %}
          <img
            src="/static/icons/{% if item.isLiked %}like-added.png{% else %}like.png{% endif %}"
            onclick="{% if item.isLiked %}removeLike('{{ item.title }}');{% else %}addLike('{{ item.title }}');{% endif %}"
          />
          <img
            src="/static/icons/{% if item.inPlayList %}playlist-added.png{% else %}playlist.png{% endif %}"
            onclick="{% if item.inPlayList %}removeList('{{ item.title }}');{% else %}addList('{{ item.title }}');{% endif %}"
          />
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
