{% extends 'layout.html.j2' %}
{% block content %}
<div class="song_search clearfix">
  <form action="/search.html" method="post">
    <img class="leftfix" src="/static/images/search.png" alt="" />
    <input class="leftfix input__field" type="text" name="search_key" />
    <input class="leftfix btn" type="submit" value="Search" />
  </form>
</div>
<h1>Search Result</h1>
<div class="header">
  <div class="info">
    {% if search_key %} Search Key: <span>{{ search_key }}</span> {% endif %}
  </div>
</div>
<div class="container">
  <div class="list">
    <table class="music_search_list">
      <thead>
        <tr>
          <td>Image</td>
          <td>ID</td>
          <td>Title</td>
          <td>Artist</td>
          <td>Album</td>
          <td>Duration</td>
          <td>Genre</td>
          {% if loginState %}<td>Action</td>{% endif %}
        </tr>
      </thead>
      {% for item in music %}
      <tr>
        <td>
          <img src="/static/images/music/{{ item.song_image_filename }}" alt="icon" />
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.artist }}</td>
        <td>{{ item.album }}</td>
        <td>{{ item.duration }}</td>
        <td>{{ item.genre }}</td>
        {% if loginState %}
        <td>
          <img src="/static/icons/{% if item.isLiked %}like-added.png{% else %}like.png{% endif %}" />
          <img src="/static/icons/{% if item.inPlayList %}playlist-added.png{% else %}playlist.png{% endif %}" />
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
